body{
    background-color: white;

}
div{
    text-align: center;
   
}
h1{
    color: red;
}
header{
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
