{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li><a style="color:white" href="{% url 'home' %}">Home</a></li>
            <li><a style="color:white" href="{% url 'blog_list' %}">BLOGS</a></li>
            
            {% if user.is_authenticated  %}
                <li><a style="color:white" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a style="color:white" href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>        
            
        
        
    </header>
    <div>
        {%block content%}
        {%endblock%}
        
    </div>
</body>
</html>